html{
    scroll-behavior: smooth;
}
/* bakground-image */
body{
    background-image: url(/images/sun&hand.jpg);
}


/* pseudo-element */
h2::selection{
    background-color: green;
    color:yellow;
}

p::selection{
    background-color: pink;
    color:purple;
    
}

/* google font */
p{
    font-family: 'Noto Serif TC', serif;
}



a{
    text-decoration: none;
    width:10vw;
}

/* pseudo-class */
a:visited{
    color: gold;
}






/* 如果此css外部連結放在internal styling 後面，會生效*/
/* h2{
    color:aqua;
} */

h3{
    color: lawngreen;
}

div.link1 a{
    color:red;
}


