

/* eg1. box1移動‧。 transition 和 transform: translate() 搭配*/
div.container1 {
  width: 500px;
  height: 400px;
  background: black;
}

div.box1 {
  width: 100px;
  height: 100px;
  background: green;
  transition: all 1s;
}

/* transform - translate() */
div.box1:hover {
  transform: translate(100px, 50px);
}



/* eg2.translate()用法2-對準中心點位置。 transform: translate() */

div.container2 {
    width: 300px;
    height: 300px;
    background: black;
    position: relative;
  }
  
  div.box2 {
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  


/* eg3. box3旋轉‧。 transition 和 transform: rotate() 搭配*/
div.container3 {
    width: 500px;
    height: 400px;
    background: gray;
  }
  
  div.box3 {
    width: 100px;
    height: 100px;
    background: blue;
    transition: all 1s;
  }
  
  /* transform - rotate() */
  div.box3:hover {
    transform: rotate(-90deg);
  }


  /* eg4. box4縮放‧。 transition 和 transform: scale() 搭配*/
div.container4 {
    width: 500px;
    height: 400px;
    background: burlywood;
    
  }
  
  div.box4 {
    width: 100px;
    height: 100px;
    background: purple;
    position: relative;
    top: 50%;
    left: 50%;
    transition: all 1s;
  }
  
  /* transform - scale() */
  div.box4:hover {
    transform: scale(0.5,1);
  }
  
  