.p1{
    font-size: 160px;
}

/* 無效 */
.d1{
    background-color: aqua;
    width: 100px;
    height: 100px;
}


/* icon顏色、大小跟著字體 */
.a1{
    border: 1px solid black;
    text-decoration: none;
    /* display: block;
    height: 100px;
    width: 100px; */
    font-size: 42px;
    color:green;
}


